* {
	box-sizing: border-box;
}

.header {
    text-align: center;
    background-color: salmon;
    color: white;
    max-width: 100%;
    margin: 0px;
    }

.container {
	padding: 40px;
}

main, section {
	max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

form {
	margin-bottom: 30px;
}


 input, button, label {
    font-size: 18px;
  }

section h2 {
    border-bottom: 1px solid lightgrey;
    text-align: center;
  }

  .results {
    padding: 20px;
    border-bottom: 1px solid lightgrey;
  }

img {
  max-width: 500px;
}

img:hover, a:hover, input:hover, button:hover {
  outline: red solid 3px;
}

  
#light-box {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }
  
  #light-box iframe {
    max-width: 60%;
    max-height: 60%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  .material-icons {
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    top: 60px;
    left: 40px;
    color: white;
  }
  
  .material-icons:hover {
    background-color: #FFB81C;
    cursor: pointer;
    color: black;
    font-weight: bold;
  }